@model jQueryAppBD.Models.Computer
<div>
    <h3>Ид:  @Html.DisplayFor(m => m.Id)</h3>
    <p>Модель: @Html.DisplayFor(m => m.Model)</p>
    <p>Год выпуска: @Html.DisplayFor(m => m.Year)</p>
</div>